  #main-header {
    
  }

  .rainbow {
  background-image: -webkit-gradient( linear, left top, right top, 
                    color-stop(0, #f22),
                    color-stop(0.15, #f2f),
                    color-stop(0.3, #22f),
                    color-stop(0.45, #2ff),
                    color-stop(0.6, #2f2),
                    color-stop(0.75, #2f2),
                    color-stop(0.9, #ff2),
                    color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top,
                    color-stop(0, #f22),
                    color-stop(0.15, #f2f),
                    color-stop(0.3, #22f),
                    color-stop(0.45, #2ff),
                    color-stop(0.6, #2f2),
                    color-stop(0.75, #2f2),
                    color-stop(0.9, #ff2),
                    color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

  div {
    height: 55px;
    width: 55px;
    padding: 10px;
    border: dotted 1px #000;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: #FFF;
    margin-top: 55px;
    margin-right: 55px;
    position:relative;
    float: left;
  }

  #ribbon {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  #irbox {
    background-color: #FFF;
    color: #CCC;
  }

  #redbox {
    background-color: #F00;
  }

  #orangebox {
    background-color: orange;
  }

  #yellowbox {
    background-color: yellow;
    color: #CCC;
    clear:left;
  }

  #greenbox {
    background-color: #0F0;
  }

  #bluebox {
    background-color: #00F;
  }

  #indigobox {
    background-color: indigo;
    clear:left;
  }

  #violetbox {
    background-color: violet;
  }

  #uvbox {
    background-color: #000;
    color: #CCC;
  }

  div>img {
  position: absolute;
  left: 50px;
  bottom: 60px;
  }
